<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GIF Chat Room</title>
  </head>
  <body>
    <div>F12를 누러 console과 network 탭으로 확인하시오</div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io.connect('http://localhost:8005', {
        path: '/socket.io',
        // transports: ['websocket'], // websocket만 사용으로 이 조건을 추가하면 websocket을 사용하지 않는 브라우저는 고려하지 않음
      });
      socket.on('news', function (data) {
        console.log(data);
        socket.emit('reply', 'Hello Node.js');
      });
    </script>
  </body>
</html>
